doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/style.css')
    meta(http-equiv="refresh" content="60")
  body
    p
      |This is where a cat fact is supposed to be
      |#{catfact}
    p
      |This is where my IP address should be
      |#{myipaddr}
