doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/style.css')
    meta(http-equiv="refresh" content="60")
  body
    div.page
      div.yoda
        | #{catfact}
      div.ip
        | #{myipaddr}
