/* Stylesheet for Yoda's Cat Facts 				*/ 
/* make sure to install font in ~/.fonts			*/
/* font choices: Bangers, Chinacat, McLaren, PineLintGerm 	*/
div.yoda {
  font-family: "Chinacat";
  font-size: 80px;
  width: 1000px;
  padding: 10px;
  border: 1px solid gray;
  margin: 0px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
